<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dora.myapplication">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- // needed for new scopedStorage save -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoVault"
        tools:targetApi="31">
        <activity
            android:name=".Cryptography.ASymmetric.RSA.RSAMainActivity"
            android:exported="false" />
        <activity
            android:name=".Cryptography.ASymmetric.ASymmetricMainActivity"
            android:exported="false" />
        <activity
            android:name=".Cryptography.Symmetric.SymmetricMainActivity"
            android:exported="false" />
        <activity
            android:name=".Cryptography.CryptographyMainActivity"
            android:exported="false" />
        <activity
            android:name=".ImageSteganography.DecodeImgSteg1"
            android:exported="false" />
        <activity
            android:name=".ImageSteganography.EncodeImgSteg1"
            android:exported="false" />
        <activity
            android:name=".ImageSteganography.ImgSteg1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>